<div id="pagefooter">
    <div class="footer_left">



			<ul class="list-reset">
					<li>
						<a href="http://urlgeni.us/instagram/tjZv">Instagram</a>

					</li>

					<li>
						<a href="http://urlgeni.us/facebook/QvJR">Facebook</a>

					</li>

					<li>
						<a href="http://urlgeni.us/twitter/GkFt">Twitter</a>

					</li>


			</ul>

			<ul class="list-reset">
					<li>
						<a href="/pages/about-us">About</a>

					</li>

					<li>
						<a href="/pages/melrose">Store</a>

					</li>

					<li>
						<a href="/pages/stockists">Stockists</a>

					</li>

					<li>
						<a href="/pages/shipping">Shipping</a>

					</li>

					<li>
						<a href="/pages/returns-and-exchanges">Returns</a>

					</li>

					<li>
						<a href="/pages/faq">FAQ</a>

					</li>

					<li>
						<a href="/pages/contact">Contact</a>

					</li>


			</ul>

			<ul class="list-reset">
					<li>
						<a href="/pages/careers">Careers</a>

					</li>

					<li>
						<a href="/pages/john-elliott-terms-of-use">Terms + Conditions</a>

					</li>

					<li>
						<a href="/pages/b-privacy-policy-2018-b-br-last-updated-august-30-2018">Privacy Policy</a>

					</li>

					<li>
						<a href="/pages/sitemap">Sitemap</a>

					</li>


			</ul>


    </div>
  	<div class="footer_right">
		<div class="footer_right_content">

			<div class="newsletter-signup ns ns--footer"><h3 class="ns__hdr">SIGN UP FOR OUR NEWSLETTER HERE</h3><div class="ns__wrapper">

	</div>
</div>

		</div>
		<div class="copyrightx">© 2019 JOHN ELLIOTT</div>
    </div>


</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
